---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home &middot; Rhys James" description="" image="https://cdn.statically.io/og/theme=light/Rhys%20James.jpg">
	<section class="hero">
		<h3>Welcome to,</h3>
		<h2>My Digital</h2>
		<h2>Portfolio</h2>
	</section>
</MainLayout>