---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image="https://cdn.statically.io/og/theme=light/Rhys%20James.jpg" />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to my site!</h1>
			<p>Why not have a look around?</p>

			
		</main>
		<Footer />
	</body>
</html>
