---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Rhys James. All rights reserved.

  <p>
    This site uses <a href="https://www.goatcounter.com/" hreflang="en" target="_blank">GoatCounter</a> for analytics.
    It aims to offer easy to use and meaningful privacy-friendly web analytics. <a
      href="https://statistics.rhysjames.tk" target="_blank" hreflang="en">Click here</a
    > to see the data we see.
  </p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
